<!-- Start of radio buttons -->
<form method="get" class="form" action="">
  <fieldset>
    <div class="multiple-choice__container">
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-1-value }}">
        {{ radio-1 }}
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-2-value }}">
        {{ radio-2 }}
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-3-value }}">
        {{ radio-3 }}
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-4-value }}">
        {{ radio-4 }}
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-5-value }}">
        {{ radio-5 }}
      </label>
      <label class="multiple-choice multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="action" value="{{ radio-6-value }}">
        {{ radio-6 }}
      </label>
    </div>

  </fieldset>
  <input type=submit class="button" value=Next>
</form>
<!-- End of radio buttons -->
