<h2>Check and submit your review</h2>
<hr />

<div class="callout callout--info">
  <h3>We won’t publish your review if:</h3>
  <ul>
    <li>don’t include enough facts to help other patients make a decision</li>
    <li>try too hard to influence people - for example by telling them not to use the surgery</li>
    <li>write about something that happened over 2 years ago</li>
    <li>have already left a review about this incident</li>
    <li>include information that could identify someone (for example their name, gender or contact details)</li>
    <li>swear, abuse or threaten people </li>
    <li>are obscene, racist, sexist or homophobic</li>
    <li>include anything that could break the law or affect legal proceedings</li>
    <li>WRITE IN CAPITALS </li>
  </ul>
  <p><a href="/2_3_rules_on_writing_reviews">Read full list of rules for writing reviews</a></p>
</div>

<dl style="margin-top:40px;" class="govuk-check-your-answers cya-questions-long">

  <div>
    <dt class="cya-question">
              When the incident happened
            </dt>
    <dd class="cya-answer">
      {{review.monthOfVisit}}
    </dd>
    <dd class="cya-change">
      <a href="4_when_did_this_happen">Change</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
              Your review
            </dt>
    <dd class="cya-answer">
      {{review.body}}
    </dd>
    <dd class="cya-change">
      <a href="2_write_your_review_v1">Change</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
              Title of your review
            </dt>
    <dd class="cya-answer">
      {{review.title}}
    </dd>
    <dd class="cya-change">
      <a href="3_title_of_your_review">Change</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
              Your name
            </dt>
    <dd class="cya-answer">
      {{review.displayname}}
    </dd>
    <dd class="cya-change">
      <a href="6_what_is_your_name">Change</a>
    </dd>
  </div>

<!-- This will need adding in conditionally depending on if people want to remain anonymous -->

<!--<div>
      <dt class="cya-question">
                Your review is anonymous
              </dt>
      <dd class="cya-answer">
        {{review.displayname}}
      </dd>
      <dd class="cya-change">
        <a href="4_what_is_your_name">Change</a>
      </dd>
    </div> -->

  <div>
    <dt class="cya-question">
              Your email address
            </dt>
    <dd class="cya-answer">
      {{review.emailAddress}}
    </dd>
    <dd class="cya-change">
      <a href="7_what_is_your_email_address">Change</a>
    </dd>
  </div>
</dl>

<div class="button__spacing">
  <p>By submitting, I accept the <a href="/2_3_rules_on_writing_reviews">rules for writing reviews</a> and <a href="https://www.nhs.uk/aboutnhschoices/aboutnhschoices/termsandconditions/pages/termsandconditions.aspx">terms and conditions</a>.</p>
  <a href="/9_check_your_email">
    <p>
      <div class="button">Submit your review</div>
    </p>
  </a>
</div>
